.next
node_modules
package.json
package-lock.json
yarn.lock
public
.next
out
build
dist
.DS_Store
*.md
*.mdx
*.log
.cache
.vercel
.netlify
.env*.local
.env
.vscode
.idea
*.min.*
*.svg
*.eot
*.ttf
*.woff
*.woff2
*.png
*.jpg
*.jpeg
*.gif
*.ico
